.container {
    max-width: 1080px;
    margin: 0 auto;
}
p {
    font-family: sans-serif;
}
#messages {
    width: 500px;
    height: 300px;
    border: thin dotted darkgrey;
    float: left;
}
div#hands {
    float: left;
}
div#main {
    float: left;
}
div#useful {
    float: right;
}
div#useless {
    float: right;
}
svg {
    border: thin dotted darkgrey;
}
rect#discard {
    fill: salmon;
}
rect#play {
    fill: PaleGreen;
}
text.vertical-right {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
text.vertical-left {
    writing-mode: sideways-lr;
    text-orientation: mixed;
}
svg.useful {
    background-color: beige;
}
svg.useless {
    background-color: beige;
}
.card > rect {
    fill: #ccc;
}
.card > text {
    font: 2em sans-serif;
    text-anchor: middle;
}
.card-invisible > rect {
    fill: #6495ED;
}
.card-invisible > text {
    visibility: hidden;
}
