<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hanabi</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function () {
                var socket = io.connect();

                socket.on("connect", function () {
                    console.log("Connected to server!")
                });

                socket.on("board", function (msg) {
                    console.log("Received board update")
                    updateHeader(msg.data.game);
                    drawBoard(msg.data);
                });

                socket.on("alert", function (msg) {
                    alert(msg)
                })

                // This takes care of "play" and "discard" actions
                setUpDragHandlerOnEnd(dragHandler, socket);

                $("button#hint").click(function () {
                    socket.emit('played', {data: {
                            "id" : 0,
                            "action" : "hint",
                            "args" : {"player_id" : 1, "info": "green"}
                        }
                    })
                });
            });
        </script>
        <script type="text/javascript">
            var username = "{{ username }}";
            var player = {{ player }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/library.js') }}" charset="utf-8"></script>
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <body>
        <div class="container">
            <h4>You are: {{ username }}</h4>
            <h4>Current turn: <span id="current"></span></h4>
            <h4>Lifes: <span id="lifes"></span>  Clues: <span id="clues"></span> Cards remaining: <span id="remaining"></span></h4>
            <div id="messages">
                <p>Player one played a red 1</p>
                <p>Player two gave a hint</p>
            </div>
            <div id="useful"></div>
            <div id="hands"></div>
            <div id="useless"></div>
            <div id="main"></div>
            <!-- <br>
            <table><tr>
                <td><button type="button" id="play">Play</button></td>
                <td><button type="button" id="hint">Hint</button></form></td>
                <td><button type="button" id="discard">Discard</button></td>
                <form id="hint" action="" method="post">
                    <td><button type="submit" name="action" value="play">Play</button></td>
                    <td><button type="submit" name="action" value="hint">Hint</button></td>
                    <td><button type="submit" name="action" value="discard">Discard</button></td>
                </form>
            </tr></table> -->
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/svg_scales.js') }}" charset="utf-8"></script>
        <!-- <script type="text/javascript">
            d3.json("{{ url_for('static', filename='data.json') }}").then(data => {
                drawBoard(data)
            })
        </script> -->
    </body>
</html>
